<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan</title>
</head>
<body>
    
    <center>
        <h1 style="background-color: rgb(77, 77, 131)">SOAL SISTEM PERSAMAAN LINEAR DUA VARIABEL</h1>
    </center>
    <br>
    <o1>
        <li>Nilai p, yang memenuhi persamaan 4p + 3q = 20  dan 2p – q = 3 adalah</li>
        <p>Jawab :</p>
        <li>Nilai x dan y berturut-turut yang memenuhi persaman x + 5y = 13 dan 2x – y = 4 adalah</li>
        <p>Jawab :</p>
        <li>Himpunan penyelesaian dari sistem persamaan 2x + xy = 4 dan 3x + y =6 adalah</li>
        <p>Jawab :</p>
        <li>Harga 8 buah buku tulis dan 6 buah pensil Rp. 14.400,00 harga 6 buah buku tulis dan 5 buah pensil Rp. 11.200,00. Jumlah harga 5 buah buku tulis dan 8 buah pensil adalah</li>
        <p>Jawab :</p>
        <li>Umur Sani 7 tahun lebih tua dari umur Ari. Sedangkan jumlah umur mereka adalah 43 tahun. Berapakah umur masing-masing</li>
        <p>Jawab :</p>
    </o1>
</body>
</html>