<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
</head>
<body>
    <h1 style="background-color: rgb(77, 77, 131)"><center>BIODATA</h1></center>
    
            <p>Nama : Zalfah Chordelia Azrien</p>
            <p>Nim : 2225210092</p>
            <p>Kelas : 3A</p>
            <p>Ttl : Pandeglang, 07 Juni 2003</p>
            <p>No. Telp : 081314555610</p>
            <p>Alamat : Kp. Pasar Panimbang</p>
            <p>Kuliah : Universitas Sultan Ageng Tirtayasa</p>
</body>
</html>