<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengertian</title>
</head>
<body>
    
    <center>
        <h1 style="background-color:rgb(77, 77, 131)">Pengertian Persamaan Linear Dua Variabel</h1>
    </center>
    <p> SPLDV merupakan suatu sistem dari persamaan maupun bentuk dari relasi yang sama dengan bentuk Aljabar yang mempunyai dua variabel dan juga berpangkat satu apabila di gambarkan ke dalam suatu grafik maka akan membentuk garis yang lurus. Sehiingga karena hal seperti inilah yang menjadikan suatu persamaan yang sering disebut dengan persamaan linier. </p>
    
    <center>
        <h1 style="background-color:rgb(77, 77, 131)"> Ciri-Ciri SPLDV</h1>
    </center>
    <br>
    <li>Menggunakan relasi atau tanda sama dengan (=).</li>
    <li>Memepunyai dua variabel</li>
    <li>Kedua variabel ini juga mempunyai derajat satu atau berpangkat satu.</li>
    </br>

    <center>
        <h1 style="background-color:rgb(77, 77, 131)"> Hal yang Berhubungan dengan SPLDV</h1>
    </center>
    <br>
    <o1>
    <li>Variabel</li>
    </o1>
    <p>
        variabel yaitu merupakan suatu perubahan maupun sebagai pengganti sebuah bilangan yang biasanya di lambangkan dengan huruf, seperti x dan juga y.
        
        Contohnya :
        Nina mempunyai 2 buah apel dan juga 5 buah jeruk, apabila di tuliskan didalam bentuk persamaan yaitu.
        <li> Apel = X </li>
        <li> Jeruk = Y</li>
        Persamaannya yaitu : 2x + 5y
    </p>
    </br>
    </o1>
    <br>
    <o1>
        <li>Konstanta</li>
    <p>
        Yang disebut dengan konstanta yaitu merupakan suatu bilangan yang tidak diikuti dengan variabel, maka nilainya tetap maupun konstan untuk berapapun nilai perubahanya.
        
        Contohnya :
        2x + 5y  + 7 , dari persamaan tersebut konstanta yaitu 7 , karena nilainya 7 maka tetap dan tidak terpengaruh dengan berapapun variabelnya.
    </p>
    </o1>
    </br>

</body>
</html>